

body{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    background: rgb(8, 82, 82);
}

/*Boton menu*/

header{
    width: 100%;
    background: #4E94AB;
}

#btn-menu{
    display: none;
}

header label{
   display: none;
   width: 30px;
   height: 30px;
   padding: 10px;
   border-right: 1px solid rgb(158, 193, 240);
}

header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

/*Menu de navegacion*/
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    
    
}

.menu li:hover{
    background: rgba(0,0,0,0.3);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color:#fff;
    text-decoration: none;
}



@media (max-width:768px){
    
    header label {
        display: block;
    }

    .menu {
        position: absolute;
        background: #4E94AB;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    .menu ul{
        flex-direction: column;
    }

    .menu li{
        border-top:1px solid #fff;
    }

    #btn-menu:checked ~ .menu{
        margin: 0;
    }

}



.contenedor {
	margin: auto;
	width: 90%;
    max-width: 1300px;
}

main article {
	background: #fff;
	margin: 20px 0;
	padding: 20px;
	height: 100%;
}

.servicios{
    width: 50%;
    margin: auto;
    margin-top: 50px;
}


.servicios .redes{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto;
    
}
.servicios .redes i{
    font-size: 40px;
}

.servicios .redes i:hover{
   font-size: 42px;
   transition: all ease 0.5s;
}

.servicios .redes  .wsp:hover{
    color:green;
    
}

.servicios .redes  .fb:hover{
    color:blue;
    
}

.servicios .redes  .ig:hover{
    color:violet;
    
}
.redes a{
    color: black;
}


h1{
    color:gray;
    text-align: center;
    font-size: 40px;
}

.form-register{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: rgb(170, 87, 87);
    border-radius: 7px;
}

.form_titulo{
    background: deepskyblue;
    color: aqua;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    border-radius: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 5px solid crimson;
}

.contenedor-inputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgrey;
}

.input-50{
    width: 48%;
}

.input-100{
    width: 100%;
}

.btn-enviar{
    background: red;
    color: #ffffff;
    margin: auto;
    padding: 20px 40px;
}
.btn-enviar:active{
    transform: scale(1.10);
    transition: 2.0ms all ease ;
}

.form_link{
    width: 100%;
    margin: 0;
    font-size: 15px;
    text-align: center;

}
    

footer{
  
    text-align:center;
    margin-top:90px;
    font-size:18px;
    color:#fff;
    background-color: rgb(13, 153, 111);
    width: 70em;
    padding: 20px;

  }